#general {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  color: blue;
  font-size: 3em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

#description {
  margin-right: 88px;
}

#transaction {
  margin-right: 45px;
}

#iva {
  margin-right: 114px;
}

#subTotal {
  margin-right: 95px;
}

span {
  padding-right: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding: 15px;
}

#submount {
  width: 150px;
}

#ingresar {
  border: 0px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 10px 0;
  font-size: medium;
  cursor: pointer;
  color: white;
  background-color: blue;
}

table {
  margin: auto;
  text-align: center;
}

th {
  padding: 10px;
  padding-inline: 50px;
  background-color: blue;
  color: white;
}

td {
  background-color: lightgray;
}

#capital {
  font-weight: bold;
}

#capital li {
  display: inline;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

#compras,
#ventas {
  font-style: normal;
  color: blue;
}
